body {
  background-color: #e0f7fa;
  font-family: Arial, sans-serif;
  color: #000000;
}

header,
footer {
  background-color: #ceeee5;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  color: #000000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 97.5%;
  z-index: 0;
}

header {
  position: fixed;
  top: 0;
  width: 97.5%;
  z-index: 0;
}
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: larger;
  margin-right: 5%;
  padding-bottom: 20px;
}

nav a {
  background-color: #85858531;
  backdrop-filter: blur(3px);
  padding: 10px 7%;
  border-radius: 12px;
}

a {
  text-decoration-line: none;
  color: #000000;
}

nav a:hover {
  background-color: rgba(133, 133, 133, 0.5);
  transform: scale(1.15);
}

.titre {
  color: #d81b60;
  font-size: 2.5em;
  margin: 10px 0;
}

.space {
  padding: 85px;
  padding-top: 130px;
}

#conn {
  color: #000000;
  font-size: 24px;
  text-align: end;
  text-decoration-line: underline;
}

#cree {
  padding-left: 30px;
}

.calendar-container {
  position: absolute;
  top: 180px;
  right: 60px;
  width: 220px;
  font-size: 12px;
  border: 1px solid #333;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  transform: scale(1.4); /* Agrandit la taille à 120% */
  transform-origin: top right;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.calendar-header button {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 12px;
}

.calendar-header span {
  font-weight: bold;
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #ccc;
  padding: 4px;
}

/* Jours du mois en cours */
.active-day {
  background-color: #f9f9f9;
  color: #000;
}

/* Jour actuel */
.today {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

/* Cellules vides */
.inactive {
  background-color: #eaeaea;
  color: #aaa;
}
.titre_habitude {
  font-size: 2.5em;
  text-align: center;
}

.boutons_habitude {
  text-align: center;
}

.boutons_habitude button {
  font-size: 18px;
  width: 200px;
  height: 60px;
  border-radius: 12px;
}

.container-habitudes {
  padding: 85px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap; /* Permet de revenir à la ligne */
  gap: 20px; /* Espacement entre les éléments */
  justify-content: flex-start; /* Alignement horizontal */
}

.habitude {
  background-color: #e0f7fa;
  padding: 15px;
  border: 1px solid #ccc;
  width: 250px; /* Largeur fixe */
  box-sizing: border-box;
  border-radius: 8px;
}
